@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --blue: #0095f6;
  --text-color: #fafafa;
  --bg-color: #010001;
  --white: #fff;
  --border: #373737;
  --gray-text: gray;
  --gradient: linear-gradient(
    104deg,
    rgba(253, 89, 73, 1) 0%,
    rgba(214, 36, 158, 1) 100%
  );
  --story-border: orangered;
}

* {
  color: var(--text-color);
  background-color: var(--bg-color);
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;

  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

aside {
  background-color: var(--bg-color);
  width: 244px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-right: 1px solid var(--border);
}
.mobile {
  display: none;
}
/* Navigation */

.logo {
  width: 100%;
  margin: 20px 0px 0px 0px;
  padding: 20px;
}

.nav-bar {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 20px;
  height: 100%;
}
.nav-option {
  height: 56px;
  margin: 0;
  display: flex;
  border: none;
  align-items: center;
}
.nav-option img {
  background-color: transparent;
}

.nav-option a {
  display: flex;
  align-items: center;
  background-color: transparent;
  text-decoration: none;
  padding-left: 16px;
}
.nav-link {
  font-size: 16px;
}

.link .nav-option img {
  height: 24px;
  width: 24px;
}

.dp {
  height: 24px;
  width: 24px;
  border-radius: 50%;
}
.mobile-img {
  display: none;
}

.small-logo {
  display: none;
}

/* Main Container  */

.container {
  width: 100%;
  margin: auto auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-left: 250px;
  padding-top: 50px;
}
.feed {
  background-color: red;
  width: 470px;
  margin-right: 64px;
}

@media (max-width: 580px) {
  .mobile {
    display: initial;
  }
  .search img {
    height: 24px;
    width: 24px;
  }
  .small-div {
    height: 60px;
    display: flex;
    align-items: center;
    vertical-align: center;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  .search {
    display: flex;
    height: 36px;
    align-items: center;
    gap: 8px;
  }
  .search img {
    margin-right: 8px;
  }
  .mobile-img {
    margin-left: 8px;
    display: initial;
  }
  .search-input {
    padding: 16px;
    font-size: 16px;
    height: 36px;
    width: 268px;
    padding-right: 8px;
    border: none;
    background-color: rgb(38, 38, 38);
    border-radius: 10px;
    color: var(--gray-text);
  }
  .big-nav {
    display: none;
  }

  .container {
    width: 100vw !important;
    padding-left: 0 !important;
    padding-top: 0 !important;
    background-color: white;
    overflow: hidden;
  }
  .feed {
    width: 100%;
    overflow: hidden;
  }
  .post-image {
    width: 100vw !important;
    height: 100%;
    max-height: 584px;
    object-fit: cover;
  }
}

/* Feed Container */

.stories {
  width: 100%;
  display: flex;
  height: 85px;
  overflow-x: auto;
}
.stories::-webkit-scrollbar {
  display: none;
}
.story {
  padding-right: 15px;
}

.story-dp {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  margin: 0;
  border: 3px solid var(--story-border);
}
.story-id {
  width: 100%;
  padding: 0;
  margin: 0;
  font-size: 10px;
}

.arrow {
  background-color: whitesmoke;
  border-radius: 50%;
  font-size: 26px;
  color: var(--bg-color);
  right: -450px;
  top: -62px;
  height: 26px;
  position: relative;
  cursor: pointer;
}

.post-header {
  height: 58px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.id-detail {
  width: 100%;
  display: flex;
  height: 100%;
  align-items: center;
}

.post-box {
  padding-bottom: 5px;
  border-bottom: 1px solid var(--border);
}
.post-dp {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  margin-right: 10px;
  border: 2px solid var(--story-border);
}
.header-user {
  margin-right: 5px;
}
.id {
  font-size: 14px;
  padding: 0;
  margin: 0;
}
.location {
  font-size: 11px;
  padding: 0;
  margin: 0;
}
.time {
  font-size: 14px;
  padding: 0;
  margin: 0;
  padding-bottom: 14px;
}

.post-image {
  width: 470px;
  height: 100%;
  max-height: 584px;
  object-fit: cover;
}

.interaction-box {
  display: flex;
}

.interact {
  width: 100%;
  display: flex;
}

.des-text {
  font-size: 13px;
}

.caption {
  margin: 0;
}
.caption-id {
  font-size: 14px;
  font-weight: 600;
}
.single-comment {
  display: flex;
}
.see-comment {
  font-size: 12px;
  color: var(--gray-text);
}
.single-comment span {
  width: 100%;
}
input {
  width: 100%;
  padding-right: 10px;
  text-decoration: none;
  border: none;
  text-align: left;
  font-size: 12px;
  margin-top: 3px;
  color: var(--gray-text);
}

.comment-id {
  font-weight: 600;
}
.comment {
  font-size: 12px;
  margin-bottom: 2px;
}

/* Sidebar section start here */

.sidebar {
  display: flex;
  max-height: 100vh;
  width: 319px;
  flex-direction: column;
  align-items: flex-start;
}

.profile {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.profile a {
  text-decoration: none;
  color: var(--blue);
}

.suggestion-box {
  width: 319px;
}
.top-text {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.suggestion-account-box .profile {
  padding: 10px 2px 0px 0px;
}
.top-text {
  margin-top: 5px;
  margin-bottom: 5px;
}
.sgn {
  font-size: 14px;
  color: var(--gray-text);
}

.see-all {
  font-size: 14px;
}
.followed {
  font-size: 10px;
  margin: 0;
  padding: 0;
  color: var(--gray-text);
}
.suggest-id {
  font-size: 14px;
  margin: 0;
  padding: 0;
}
.follow-btn {
  font-size: 14px;
}

.logo-small {
  display: none;
}
.link {
  width: 100%;
}
.link .nav-option {
  width: 100%;
  padding-left: 20px; /* 
  height: auto;
  margin: 0;
  display: flex;
  
  border: none;
  padding-bottom: 20px; */
}

/* Responsive Design Start Here */

@media (max-width: 1118px) {
  aside {
    width: 72px;
  }
  .logo-small {
    display: initial;
  }
  .small-logo {
    display: initial;
  }

  .container {
    width: 100%;
    padding-left: 100px;
    padding-top: 50px;
  }

  .nav-bar {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    margin: 20px 0px 0px 0px;
    padding: 20px;
  }
  .hide {
    display: none !important;
  }

  .link .nav-option {
    width: 100%;
  }
  .logo {
    width: 100%;
    margin: 20px 0px 0px 0px;
    padding: 20px;
  }
}

@media (max-width: 911px) {
  .sidebar {
    display: none;
  }
  .container {
    width: 100%;
    padding-left: 72px;
    padding-top: 50px;
  }
  .feed {
    margin-right: 0;
  }
}

/* Extension Custom */

.pdr {
  padding-right: 10px;
  padding-top: 2px;
}

.bold {
  font-weight: 600;
}
